 @media screen and (max-width:960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap:"wrap";
      width: 100%;
      height: 100vh;
      position: absolute;
      top:0;
      right:-100%;
      opacity: 1;
      transition: all 0.3s;
      
    }
    .nav-menu.active {
      background: #242222;
      right:0;
      opacity: 1;
      transition: all 0.3s;
      z-index: 2000;
 
    }
 
  }

  .scroll {
    border-bottom: 2px solid #ffff;
    
  }

 